* {
  margin: 0;
  padding: 0;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (max-width: 75em) {
  html {
      font-size: 60%;

  }
  .general {
    display: flex;
    flex-direction: column;
}
}

@media (max-width: 61.25em) {
  html {
      font-size: 58%;
  }
  .general {
    display: flex;
    flex-direction: column;
}
}

@media (max-width: 28.75em) {
  html {
      font-size: 55%;
  }
  .general {
    display: flex;
    flex-direction: column;
}
}


body {
  background-color: white; 
}

.general {
  display: flex;
  justify-content: space-around
}

.perro {
  width: 20%;
  margin: 5%;
}

.imagen {
  width: 100%;

}

.boton {
  border: 1px solid black;
  width: 130%;
  margin-top: 5%;
  display: flex;
  flex-direction: column
}

#perro {
  display: block;
  padding: 3%;
  border-radius: 5px;
}


.perroprincipal {
  height: 400px;
  width: 450px;
  border: 1px solid black;

}
.padre {
  margin: 5%;
  width: 700px;
  height: 700px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20%;
  

  }

.caja {
  border: 1px solid black;

}

.tamañoimagen {
  width: 140px;
  height: 140px;
}