* {
  margin: 0;
  padding: 0;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}



body {
  background-color: white; 
}

.general {
  display: flex;
  justify-content: space-around
}

.perro {
  width: 20%;
  margin: 5%;
}

.imagen {
  width: 100%;

}

.boton {
  width: 101%;
  padding: 4%;
  border: 15px solid black;
  margin-top: 5%;  border: 15px solid black;
  margin-top: 5%;
  width: 95%;

}

.perroprincipal {
  height: 400px;
  width: 450px;
  border: 15px solid black;

}
.padre {
  width: 800px;
  height: 800px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20%;
  margin: 3%;

  }

.caja {
  box-sizing:content-box;
  border: 5px solid black;
  

}

